
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recorder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="static/recorder.css">
  </head>
  <body>
    <h1>Hola mundo</h1>

    <div class="container">

        <div class="row mt-3 px-3">
            <div class="col-12 text-center">
                <button type="button" class="btn-record btn-record-green" id="record" onclick="record()">
                    <img class="mic-img" src="static/img/microphone.png" />
                </button>
                <button type="button" class="btn-record btn-record-red" id="stop" onclick="stop()" style="display:none">
                    <img class="mic-img" id="record-stop-label" src="static/img/microphone.png" />
                    <span id="record-stop-loading" style="display: none"><span class="spinner-border spinner-border-sm record-spinner" role="status" aria-hidden="true"></span></span>
                </button>
            </div>
            <div class="col-12 text-center mt-2">
                <div id="text"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script src="static/recorder.js"></script>

    <script type="text/javascript">
        recorder("/audio", response => {
            document.getElementById("record").style.display="";
            document.getElementById("stop").style.display="none";
            if (!response || response == null) {
                //Hola mi creador no implemento algo bueno aqui hoho
                console.log("No response");
                return;
            }
            console.log("El texto fue: " + response.text)
            document.getElementById("text").innerHTML = response.text;
            if (typeof response.file !== "undefined") {
                //Reproducir el audio que regreso Python (si existe)
                audioFile = response.file;
                let audio = new Audio();
                audio.setAttribute("src", "static/" + audioFile);
                audio.play();
            }
        });
    </script>
  </body>
</html>